.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.text_container {
  width: 30%;
  color: grey;
}
.heading_container {
  width: 30%;
}
